version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./src/app:/var/www/html
      - ./src/app/uploads:/var/www/html/uploads
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: vulnlab
    depends_on:
      - db

  db:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vulnlab
    volumes:
      - ./src/database/init.sql:/docker-entrypoint-initdb.d/init.sql
